<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sales_Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Glass Oceans</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <Sales_Management.Properties.Settings>
      <setting name="Item_Qty" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Item_BuyPrice" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Item_Discount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TotalOrder" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Madfou3" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Bakey" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CheckButton" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Item_SalePrice" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Pro_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Pro_Price" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Pro_Barcode" serializeAs="String">
        <value />
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemDiscount" serializeAs="String">
        <value>Value</value>
      </setting>
      <setting name="SalesPrintNum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BuyPrintNum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Taxes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaleDiscountForCasher" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SalesPrint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BuyPrint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SalePrintKind" serializeAs="String">
        <value>8CM</value>
      </setting>
      <setting name="BuyPrintKind" serializeAs="String">
        <value>8CM</value>
      </setting>
      <setting name="Pro_Unit" serializeAs="String">
        <value />
      </setting>
      <setting name="Pro_ID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="USERNAME" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="Stock_ID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Pay_Visa" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Trial" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Product_Key" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="ActivationDays" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="DatabaseUserName" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="ServerForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Authentication" serializeAs="String">
        <value>Windows</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>Sales_System</value>
      </setting>
    </Sales_Management.Properties.Settings>
  </userSettings>
</configuration>